<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,700,900" rel="stylesheet">
    <title>Decision Maker</title>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <section class="holder">
      <%- include partials/_header.ejs %>

    <section class="main_descrip">
      <p>Let's make a decision together!</p>
    </section>
    <form method="POST" id="poll-info" class="form-horizontal formSub" action="/">
      <div class="info"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></div>
      <div class="form-group row">
        <div class="col-md-5">
          <label for="name">Name:</label>
          <input class="form-control" id="name-adm" type="text" placeholder="Enter your name" name="name">
        </div>
        <div class="col-md-7">
          <label for="email">Email:</label>
          <input class="form-control" id="email-admin" type="text" placeholder="Enter your email" name="email">
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <div class="col-md-4">
          <label for="date">End Date:</label>
          <input class="form-control" id="end-date" type="text" placeholder="YYYY/MM/DD" name="endDate">
        </div>
        <div class="col-md-4">
          <label for="time">End Time:</label>
          <input class="form-control" id="end-time" type="text" placeholder="HH/MM" name="endHour">
        </div>
        <div class="col-md-4">
          <label for="ampm">Choose AM or PM:</label>
          <select class="form-control" id="ampm" name="endAmPm">
            <option value="am">AM</option>
            <option value="pm">PM</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="polltitle">Poll Title:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="poll-title" placeholder="Enter poll title" name="pollTitle">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="poll"></label>
        <div class="col-sm-10">
          <textarea type="text" class="form-control" id="poll-des" placeholder="Enter description for this poll (150 symbols max)" name="pollDescription"></textarea>
        </div>
      </div>

      <hr>
      <div class="form-group">
        <label class="control-label col-sm-2" for="choice1">Choice 1:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="choice1" placeholder="Enter choice #1" name="choiceOne">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="descr1"></label>
        <div class="col-sm-10">
          <textarea type="text" class="form-control" id="descr1" placeholder="Enter description for choice #1 (optional, 150 symbols max)" name="choiceDescriptionOne"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="choice2" >Choice 2:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="choice2" placeholder="Enter choice #2" name="choiceTwo">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="descr2"></label>
        <div class="col-sm-10">
          <textarea type="text" class="form-control" id="descr2" placeholder="Enter description for choice #2 (optional, 150 symbols max)" name="choiceDescriptionTwo"></textarea>
        </div>
      </div>
      <div class="newchoice3">
      <div class="form-group">
        <label class="control-label col-sm-2" for="choice">Choice 3:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="choice3" placeholder="Enter choice #3" name="choiceThree">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2 remove" id="rem3" for="choice">Remove Choice 3</label>
        <div class="col-sm-10">
          <textarea type="text" class="form-control" id="descr3" placeholder="Enter description for choice #3 (optional, 150 symbols max)" name="choiceDescriptionThree"></textarea>
        </div>
      </div>
    </div>
    <div class="newchoice4">
      <div class="form-group">
        <label class="control-label col-sm-2" for="choice4">Choice 4:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="choice4" placeholder="Enter choice #4" name="choiceFour">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2 remove" id="rem4" for="choice">Remove Choice 4</label>
        <div class="col-sm-10">
          <textarea type="text" class="form-control" id="descr4" placeholder="Enter description for choice #4 (optional, 150 symbols max)" name="choiceDescriptionFour"></textarea>
        </div>
      </div>
    </div>
    <div class="newchoice5">
      <div class="form-group">
        <label class="control-label col-sm-2" for="choice5">Choice 5:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="choice5" placeholder="Enter choice #5" name="choiceFive">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2 remove" id="rem5" for="choice">Remove Choice 5</label>
        <div class="col-sm-10">
          <textarea type="text" class="form-control" id="descr5" placeholder="Enter description for choice #5 (optional, 150 symbols max)" name="choiceDescriptionFive"></textarea>
        </div>
      </div>
    </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 add-choice" >
          <button id="addchoice" type="button" class="btn btn-default">Add choice</button>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label><input type="checkbox" name="checkbox"> I require voter's name to be entered</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
    </section>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
