<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,700,900" rel="stylesheet">
    <title>Decision Maker. Results Page</title>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <section class="holder">
      <%- include partials/_header.ejs %>

    <section class="main_descrip">
      <p>Welcome to ##'s Poll Result Page!</p>
    </section>
    <section class="vote-descr">
        <h3>Poll Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </section>

<!-- pie chart -->



  <section class="piechart">
    <div class="pie-graph">
      <div>
    <div class="pieID pie">

    </div>
    </div>
    <div class="leader">
      <h2>Leader: </h2>
      <h2>Choice ##</h2>
      <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</h5>
    </div>
    </div>
    <section class="expire">
        <h3>Expire in ## / Ended at ##</h3>
      </section>
    <ul class="pieID legend">
      <li>
        <em>Choice 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</em>
        <span id="ch1-pie">718</span>
      </li>
      <li>
        <em>Choice 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</em>
        <span>531</span>
      </li>
      <li>
        <em>Choice 3: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</em>
        <span>868</span>
      </li>
      <li>
        <em>Choice 4: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</em>
        <span>344</span>
      </li>
      <li>
        <em>Choice 5: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</em>
        <span>1145</span>
      </li>
    </ul>
  </section>




<!-- end of pie chart -->


    </section>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../scripts/results.js"></script>
  </body>
</html>
