<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,700,900" rel="stylesheet">
    <title>Decision Maker</title>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <section class="holder">
      <%- include partials/_header.ejs %>

      <section class="main_descrip">
        <p>Welcome to ##'s Poll Page!</p>
      </section>
      <section class="vote-descr">
        <h3>Poll Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </section>
      <section class="expire">
        <h3>Expire in ##</h3>
      </section>
      <form method="GET" class="form-horizontal formSub" action="/">
        <div class="form-group">
          <label class="control-label col-sm-2" for="voter-name">Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="voter-name" placeholder="Enter your name">
          </div>
        </div>
        <hr>
        <div class="form-group row">
          <div class="col-md-12">
            <div>
            <h4>Choice 1:</h4>
            <fieldset class="rating stars">
              <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
              <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
              <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
              <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
              <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
            </fieldset>
            </div>
            <h5>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
            </h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>



            <!-- <div class="vote-rank center">
              <button type="button" class="rank1">1</button>
              <button type="button" class="rank2">2</button>
              <button type="button" class="rank3">3</button>
              <button type="button" class="rank4">4</button>
              <button type="button" class="rank5">5</button>
            </div> -->
            <hr>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <h4>Choice 2:</h4>
            <h5>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
            </h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="vote-rank center">
              <button type="button" class="rank1">1</button>
              <button type="button" class="rank2">2</button>
              <button type="button" class="rank3">3</button>
              <button type="button" class="rank4">4</button>
              <button type="button" class="rank5">5</button>
            </div>
            <hr>
          </div>
        </div>
        <div class="but-div">
          <button type="submit" class="btn btn-default" id="vote-btn">Submit</button>
        </div>
      </form>
    </section>


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
