$logo-color: #55BCC9;
$form-background-color: #97CAEF;
$backcolor-background-color: #CAFAFE;
$redhover-background-color: #FC4445;



/*
Ranking
*/


@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.stars {
  display: block;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
 cursor: pointer;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }


/* stop ranking*/


/*
Pie chart
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@keyframes bake-pie {
  from {
    transform: rotate(0deg) translate3d(0,0,0);
  }
}

section.piechart {
  margin-top: 30px;
  width:100%;
}

.leader {
  width: 50%;
}

.pie-graph {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pieID {
  display: inline-block;
  vertical-align: top;
}
.pie {
  height: 200px;
  width: 200px;
  position: relative;
  margin-bottom: 40px;
  margin-right: 10px;
}

.pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  background: $backcolor-background-color;
  border-radius: 50%;
  top: 50px;
  left: 50px;
}
.pie::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: rgba(0,0,0,0.1);
  border-radius: 50%;
  box-shadow: 0 0 3px 4px rgba(0,0,0,0.1);
  margin: 220px auto;

}
.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  animation: bake-pie 1s;
}
.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
}
.legend {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #FFF;
  padding: 2.5em;
  font-size: 13px;
  box-shadow: 1px 1px 0 #DDD,
              2px 2px 0 #BBB;
}
.legend li {
  width: 100%;
  margin-bottom: 0.7em;
  padding: 1em 0 1em 1.5em;
  border-left: 1.25em solid black;
  display: flex;
  justify-content: space-between;
  border-color: grey;
  border-bottom: 2px;
  border-bottom-style: solid;
}
.legend em {
  font-style: normal;
  font-size: 1.2em;
  width: 85%;
  display: block;
  margin-right: 10px;
}
.legend span {
  font-weight: 700;
  font-size: 2em;
  width: 15%;
  display: block;
}

/*
End of pie chart
*/

/*
Table
*/
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  color: #3FEEE6;
}

table tr {
  border: 2px solid #3FEEE6;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #3FEEE6;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #3FEEE6;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
/*
End of table
*/

body {
  background-color: $backcolor-background-color;
  font-family: 'Muli', sans-serif;

  h1 {
    color: $logo-color;
    font-weight: 900;
    font-size: 6vw;
    margin: 0;
  }

  h2 {
    font-weight: 900;
    font-size: 2em;
    color: $redhover-background-color
  }

  h3 {
    font-weight: 900;
    text-align: center;
  }

  h4 {
    font-weight: 900;
    font-size: 2em;
    width: 40%;
  }

  .choice_rank {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  h5 {
    font-weight: 700;
    font-size: 1.2em;
  }

  .alert {
    display: none;
  }

  .choice-user-name {
    background-color: $logo-color;
    padding: 1em 2em 2em 2em;
    margin: 2em 0;
    font-size: 1.3em;
    font-weight: 700;
    color: white;
  }

  .expire {
    color: $redhover-background-color;
    display: flex;
    justify-content: space-between;
  }

  .expire button{
    background-color: #3FEEE6;
    width: 40%;
    font-size: 1.1em;
    color: black;
    transition: all 0.5s ease;
    margin: 0 0 1em 1em;
    outline: none;
  }

  .expire button:hover {
    background-color: $redhover-background-color;
  }

  .expire h3 {
    width: 60%;
    text-align: left;
  }


  .vote-descr p {
    font-size: 1.2em;
  }

  .holder {
    width: 60%;
    margin: auto;
    padding: 1em 0 0 0;
  }

  .logo {
    height: 90px;
    width: 90px;
    margin-right: 20px;
  }

  .main_descrip {
    font-size: 2em;
    text-align: center;
    margin: 0.5em 0 0 0;
  }

  .top {
    width: 100%;
    /*display: flex;
    justify-content: space-between;*/
    display: flex;
    justify-content: center;
  }



  .formSub {
    background-color: $form-background-color;
    padding: 2em;
    margin: 2em 0;
    font-size: 1.1em;

      textarea {
        resize: none;
      }

      textarea:focus {
        border-color: black;
      }

      .but-div {
        width: 100%;
      }

      .but-div button {
        width: 70%;
        font-size: 2em;
        transition: all 0.5s ease;
        background-color: $logo-color;
        font-weight: 700;
        color: white;
        outline: none;
        margin: auto;
        display: block;
      }

      .but-div button:hover {
        background-color: $redhover-background-color;
        color: white;
      }


      .vote-rank button {
        width: 10vw;
      }

      .center {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .center button {
        background-color: #3FEEE6;
      }

      .center button:hover {
        background-color: $redhover-background-color;
      }

      .info {
        font-size: 1.2em;
        margin: 0 0 1em 0;
        color: white;
      }

      .add-choice button {
        background-color: $backcolor-background-color;
        width: 40%;
        font-size: 1.1em;
        color: black;
        transition: all 0.5s ease;
        outline: none;
      }

      .add-choice .centr button {
        margin: auto;
      }

      .add-choice button:hover {
        background-color: $redhover-background-color;
      }

      input:focus {
        border-color: black;
      }

      /*.newchoice3 {
        display: none;
      }

      .newchoice4 {
        display: none;
      }

      .newchoice5 {
        display: none;
      }*/

      label.remove {
        color: $redhover-background-color;
        cursor: pointer;
        transition: all 0.5s ease;
      }

      label.remove:hover {
        color: white;
      }
  }




}


