$logo-color: #55BCC9;
$form-background-color: #97CAEF;
$backcolor-background-color: #CAFAFE;
$redhover-background-color: #FC4445;



/*
Ranking
*/


@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.stars {
  display: block;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
 cursor: pointer;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }


/* stop ranking*/


body {
  background-color: $backcolor-background-color;
  font-family: 'Muli', sans-serif;

  h1 {
    color: $logo-color;
    font-weight: 900;
    font-size: 6vw;
    margin: 0;
  }

  h3 {
    font-weight: 900;
    text-align: center;
  }

  h4 {
    font-weight: 900;
    font-size: 2em;
  }

  h5 {
    font-weight: 700;
    font-size: 1.2em;
  }

  .expire {
    color: $redhover-background-color;
  }

  .vote-descr p {
    font-size: 1.2em;
  }

  .holder {
    width: 60%;
    margin: auto;
    padding: 1em 0 0 0;
  }

  .logo {
    height: 90px;
    width: 90px;
  }

  .main_descrip {
    font-size: 2em;
    text-align: center;
    margin: 0.5em 0 0 0;
  }

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }



  .formSub {
    background-color: $form-background-color;
    padding: 2em;
    margin: 2em 0;
    font-size: 1.1em;

      textarea {
        resize: none;
      }

      textarea:focus {
        border-color: black;
      }

      .but-div {
        width: 100%;
      }

      .but-div button {
        width: 70%;
        font-size: 2em;
        transition: all 0.5s ease;
        background-color: $logo-color;
        font-weight: 700;
        color: white;
        outline: none;
        margin: auto;
        display: block;
      }

      .but-div button:hover {
        background-color: $redhover-background-color;
        color: white;
      }

      .vote-rank button {
        width: 10vw;
      }

      .center {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .center button {
        background-color: #3FEEE6;
      }

      .center button:hover {
        background-color: $redhover-background-color;
      }

      .info {
        font-size: 1.2em;
        margin: 0 0 1em 0;
        color: white;
      }

      .add-choice button {
        background-color: $backcolor-background-color;
        width: 10em;
        font-size: 1.1em;
        color: black;
        transition: all 0.5s ease;
        outline: none;
      }

      .add-choice button:hover {
        background-color: $redhover-background-color;
      }

      input:focus {
        border-color: black;
      }

      .newchoice3 {
        display: none;
      }

      .newchoice4 {
        display: none;
      }

      .newchoice5 {
        display: none;
      }

      label.remove {
        color: $redhover-background-color;
        cursor: pointer;
        transition: all 0.5s ease;
      }

      label.remove:hover {
        color: white;
      }
  }




}


